<!DOCTYPE html>
<html></html>
<head>
    <meta charset="UTF-8">
    <meta name="viexport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" href="/css/homestyles.css">
    <title>muslimindset</title> 

</head>
<body>
       <header style="
       background-image: url(/images/bg.jpg) ; 
       background-size: cover">
            <nav>
                    <div class="logo">Muslimindset</div>
                    <div class="liste">
                        <ul>
                            <li><a href="/" class="current">home</a></li>
                            <li><a>ahadith</a></li>
                            <li><a>athkar</a></li>
                            <li><a>dua</a></li>
                            <li><a href="/quran">Quran</a></li>
                        </ul>
                    </div>
                    <div class="basmala">
                        <img src="/images/bismallah.png" style="height: 50px; width: auto; float: right; ">
                    </div>
            </nav>

            <div class="hero">
                <div class="hero-container">
                    <div class="aya_arabic">
                        <p>"وَهُوَ مَعَكُمْ أَيْنَ مَا كُنْتُمْ"</p>
                    </div>
                    <div class="aya_english">
                        <p>And he is with you wherever you are</p>
                    </div>
                    <div class="verse">
                        <p>[AL QURAN | 57:4]</p>
                    </div>
                    <div class="welcome_msg">
                        <p>Welcome to our site !</p>
                    </div>
                </div>

   
            </div>
       


       </header> 

    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque facere impedit, nesciunt, adipisci consectetur corporis necessitatibus sed mollitia autem doloribus odit animi aut dolorem quas nobis tenetur sapiente! Qui ut nesciunt inventore. Molestias velit sed molestiae ea? Ipsa illo vitae necessitatibus nesciunt, assumenda facilis, dolorem, iure ullam doloremque quod alias harum praesentium vero non velit fugit labore ad similique voluptatem quos quae aliquid. Fugit, quas enim culpa eius at consequuntur et provident atque eligendi cupiditate, vitae repellendus eos, repudiandae doloremque perspiciatis sapiente dolores eaque asperiores odit quam dignissimos minima! Dignissimos impedit alias rem eos eaque, sint id voluptas veritatis dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui soluta labore beatae, eligendi dignissimos ipsam modi dolore molestias quibusdam dolorem et perspiciatis! Earum exercitationem aut consectetur magni ad. Corrupti, sint ipsum ab dignissimos architecto accusantium illo vitae atque aut dolor, optio pariatur numquam asperiores reprehenderit et eveniet placeat velit eos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui soluta labore beatae, eligendi dignissimos ipsam modi dolore molestias quibusdam dolorem et perspiciatis! Earum exercitationem aut consectetur magni ad. Corrupti, sint ipsum ab dignissimos architecto accusantium illo vitae atque aut dolor, optio pariatur numquam asperiores reprehenderit et eveniet placeat velit eos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque facere impedit, nesciunt, adipisci consectetur corporis necessitatibus sed mollitia autem doloribus odit animi aut dolorem quas nobis tenetur sapiente! Qui ut nesciunt inventore. Molestias velit sed molestiae ea? Ipsa illo vitae necessitatibus nesciunt, assumenda facilis, dolorem, iure ullam doloremque quod alias harum praesentium vero non velit fugit labore ad similique voluptatem quos quae aliquid. Fugit, quas enim culpa eius at consequuntur et provident atque eligendi cupiditate, vitae repellendus eos, repudiandae doloremque perspiciatis sapiente dolores eaque asperiores odit quam dignissimos minima! Dignissimos impedit alias rem eos eaque, sint id voluptas veritatis dicta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui soluta labore beatae, eligendi dignissimos ipsam modi dolore molestias quibusdam dolorem et perspiciatis! Earum exercitationem aut consectetur magni ad. Corrupti, sint ipsum ab dignissimos architecto accusantium illo vitae atque aut dolor, optio pariatur numquam asperiores reprehenderit et eveniet placeat velit eos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui soluta labore beatae, eligendi dignissimos ipsam modi dolore molestias quibusdam dolorem et perspiciatis! Earum exercitationem aut consectetur magni ad. Corrupti, sint ipsum ab dignissimos architecto accusantium illo vitae atque aut dolor, optio pariatur numquam asperiores reprehenderit et eveniet placeat velit eos!</p>

    
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script>
        $(window).scroll(function(){
            if($(window).scrollTop()){
                $("nav").addClass("black");
            }
            else{
                $("nav").removeClass("black");

            }
        })
    </script>


</body>
</html>